.cards {
  padding-top: 0;
  padding-bottom: 40px;
  background-color: #fcf5e5;
  border-bottom: 1px solid #21212166;
}

.cards__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
  max-width: 1280px;
  margin: auto;
  padding: 0;
}

@media screen and (max-width: 550px) {
  .cards {
    display: flex;
    justify-items: center;
    gap: 20px;
    padding-bottom: 20px;
    grid-template-columns: 288px;
    max-width: 288px;
    margin: auto;
    margin-top: 0;
  }
  .cards__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 288px;
  }
}
