.card {
  position: relative;
  max-width: 413px;
  margin-top: 0;
  margin-bottom: 0;
}

.card__delete {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 32px;
  width: 32px;
  background-image: url(/images/State=Default.svg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
  padding: 0;
}

.card__delete:hover {
  background-image: url(/images/State=Hover-delete.svg);
}

.card__like-button {
  height: 20px;
  width: 23px;
  border-style: none;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}
.card__like-button-active {
  background-image: url(/images/State=Liked.svg);
  border: none;
  padding: 0;
  opacity: 1;
}
.card__like-button-active:hover {
  opacity: 0.4;
}

.card__image {
  width: 413px;
  height: 413px;
  border-radius: 8px;
}

.card__title {
  text-align: start;
  max-width: 413px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #212121;
}

.card__heart {
  display: flex;
  justify-self: flex-end;
  width: 23px;
  height: 20px;
  opacity: 0.4;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card__heart:hover {
  cursor: pointer;
  opacity: 100%;
}

.card__heart-active {
  background-image: url(/images/Property-1=Variant3.svg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
}

.card__content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 4px;
  padding-top: 12px;
}

@media screen and (max-width: 550px) {
  .card__image {
    width: 100%;
    height: 100%;
    flex-shrink: 1;
  }
  .card__title {
    font-size: 16px;
    line-height: 16px;
    width: 100%;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 288px;
    height: 288px;
    justify-content: center;
    flex-shrink: 1;
  }
  .card__content {
    width: 288px;
    align-items: center;
  }
  .card__delete {
    top: 3px;
    right: 10px;
  }
}
